<mat-toolbar>
  <span><i class="material-icons">list</i> Shopping List</span>
</mat-toolbar>

<div *ngIf="(state$ | async).lists">
  <div *ngFor="let list of (state$ | async).lists">
    <mat-card>
      <mat-card-title>
        <div *ngIf="!list.editing">
          <div>{{list.list.n || 'Untitled'}}</div>
          <button mat-icon-button color="primary" (click)="list.editing = true"><i class="material-icons">edit</i></button>
        </div>
        <div *ngIf="list.editing">
          <input type="text" #newName />
          <button mat-icon-button color="primary" (click)="updateListTitle(list.list.id, newName)"><i class="material-icons">save</i></button>
          <button mat-icon-button color="primary" (click)="list.editing = false"><i class="material-icons">cancel</i></button>
          <button mat-icon-button color="secondary" (click)="deleteList(list.list.id)"><i class="material-icons">delete</i></button>
        </div>
      </mat-card-title>
      <mat-card-subtitle>{{list.list.id}}</mat-card-subtitle>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option *ngFor="let listItem of list.items">
            List Item: {{listItem.n}} s: {{listItem.s}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-actions>
        <input type="text" #newItem />
        <button mat-icon-button color="primary" (click)="addItem(list.list.id, newItem)"><i class="material-icons">add</i></button>
      </mat-card-actions>
    </mat-card>
    <br /><br /><br />
  </div>

</div>

<button mat-fab color="primary" (click)="addList()"><i class="material-icons">note_add</i></button>

